
/*清田先生 
.top-wrapper {
  width: 50%;
}*/

.lesson-icon {
  position: relative;
  left: 300px;
}

.message h2{
  position: relative; /* 今の位置を基準 */
  /*top: 10px; /* 上から10px */
  right: 1000px; /* rightから100px */  
  font-weight: normal;
}

.message h1{
  font-weight: normal;*/フォント細めに*/
  right: 1000px; /* rightから100px */  
}
  
